<!DOCTYPE html>
<html>
<head>
    <title>Verify Email</title>
</head>
<body>
<div style="margin: auto; width: 350px; height: 500px; font-family: Arial, sans-serif;">
    <div style="text-align: center; padding: 10px 0;">
        <div style="color: #5656ff; font-weight: bold; font-size: 1.5rem;">Messenger</div>
    </div>
    <div style="padding: 10px 0; text-align: center;">
        <p>Xin chào, <span style="font-weight: bold;" th:text="${name}">Tùng Chiến</span>!</p>
        <p style="font-weight: bold;">Chúng tôi rất vui khi bạn muốn kết nối với Messenger!</p>
        <p>Để xác thực gmail của mình vui lòng nhấn vào nút bên dưới.</p>
        <div style="text-align: center; margin: 20px 0;">
            <a th:href="'http://localhost:3000/verifyEmail?token=' + ${token}"
               style="padding: 12px 24px; background-color: #5656ff; text-decoration: none; color: white; display: inline-block;">
                Xác thực Gmail
            </a>
        </div>
        <p>Lưu ý là email sẽ hết hạn sau 15 phút và bạn sẽ phải đăng ký lại để nhận mail.</p>
    </div>
</div>
</body>
</html>>